/// Axiom Tokens
@import "../../src/tokens/forimport/index";

.demo-only-helper-box-container {
  padding: 6px;
  background: $magenta-light;
  margin: auto 8px;
  color: $smoke-light;
  border-radius: 5px;

  div {
    background: $magenta-dark;
    width: 60px;
    height: 60px;
    margin: 6px;
    border-radius: 5px;
    padding: 10px;
  }

  &--width-300 {
    width: 300px;

    .flex-shrink--none {
      width: auto;
    }

    .flex-grow--none {
      width: auto;
    }

    .flex--none {
      width: auto;
    }
  }

  &--width-contents {
    max-width: fit-content;
  }

  &--width-parent {
    width: 100%;
  }

  &--height-84 {
    height: 84px;
  }

  &--height-160 {
    min-height: 160px;
  }

  &--width-160 {
    min-width: 160px;
  }
}

.demo-only-code-box {
  margin: auto;
}

.demo-only-section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  width: 90%;
}

.demo-only-typography-dark-background{
  background: $magenta-dark;
  width: 110px;
  padding-left: 5px;
}

.demo-only-typography-container {
  width: 33%;
  background: $smoke-light;

  &--floating {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 30%;
  }

  &--floating-top {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 20px;
  }

  &--width-350 {
    width: 350px;
  }
}

.demo-only-spacing-push-background {
  background: $magenta-light;
}

.demo-only-spacing-soft-background {
  background: $magenta-dark;
  border: 3px solid $blue-base;
}

.demo-only-floating-container {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 20px;
}

.demo-only-light-background {
  background: $magenta-light;
}

.demo-only-dark-background {
  background: $magenta-dark;
}

.demo-only-width-700 {
  width: 700px;
}

.demo-only-width-320 {
  width: 320px;
}

.demo-only-empty-box {
  height: 32px;
}

.demo-only-special-width {
  &-50 {
    max-width: 70px;
  }
  &-75 {
    max-width: 95px;
  }
  &-100 {
    max-width: 120px;
  }
  &-150 {
    max-width: 170px;
  }
  &-200 {
    max-width: 220px;
  }
  &-250 {
    max-width: 270px;
  }
  &-300 {
    max-width: 320px;
  }
}

.demo-only-special-height {
  &-50 {
    max-height: 70px;
  }
  &-75 {
    max-height: 95px;
  }
  &-100 {
    max-height: 120px;
  }
  &-150 {
    max-height: 170px;
  }
  &-200 {
    max-height: 220px;
  }
  &-250 {
    max-height: 270px;
  }
  &-300 {
    max-height: 320px;
  }
}